<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>학교 선택</h1>
      학교 :
      <span id="selectedUniv">선택되지 않음</span>
      <div>
        <ul>
          <li id="1">서울대학교</li>
          <li id="2">연세대학교</li>
          <li id="3">고려대학교</li>
          <li id="4">서강대학교</li>
          <li id="5">성균관대학교</li>
          <li id="6">한양대학교</li>
        </ul>
      </div>
      <button id="btn">선택</button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/select.js"></script>
  </body>
</html>